@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: rgba(164, 145, 233, 0.24);
}

::-webkit-scrollbar-thumb {
  background: rgba(164, 145, 233, 0.308);
  border-radius: 100vh;
  border: 3px solid rgba(164, 145, 233, 0.24);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(164, 145, 233);
}
